
/* Smartphone and Tablet devices */
@media screen and (max-width: 1023px) {

    * {
        /* background-color: bisque; */
    }

    h1 {
        margin: 10px auto;
        font-size: 20pt;
    }

    #logo * {
        text-align: center;
    }

    h2 {
        display: none;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .container:first-of-type {
        justify-content: space-around;
    }


    .container:first-of-type span {
        padding: 10px 20px;
        margin: 0;
    }


    button {
        padding: 10px;
        margin: 5px 1px;
    }


    #lap-btn{
        padding: 10px 30px;
    }
}
