*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Verdana, Tahoma;
    background-color: #4D09B3;
    color: #ffffff;
}


h1, h2{
    margin: 20px 0px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
}

#logo *{
    margin: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: start;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span{
    color: #000000;
    background-color: #ffffff;
    padding: 10px 40px;
    margin: 0px 50px;
    font-size: x-large;
    border-radius: 15px;
}

button{
    padding: 10px 50px;
    margin: 0px 50px;
    font-size: x-large;
    border: 5px solid #ffffff;
    border-radius: 15px;
    text-transform: capitalize;
}

#lap-btn{
    border: 8px double #ffffff;
}

button:hover{
    cursor: pointer;
    color: #000000;
    border-color: #ffffff;
    background-color: #ffffff;
}

p{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 3px;
    font-size: x-large;
}
